<div class="header-background">
  <div style="display: flex;">
    <div>
      <h1 class="mat-h1" style="padding: 20px;">Contacts</h1>
    </div>
    <div style="padding: 20px;margin: 0px 0px 0px 770px;">
      <button mat-raised-button class="blu">New Contacts</button>
    </div>
  </div>
  <div style="background-color: #fff; margin: 20px;">
    <mat-tab-group style="margin: 20px;background-color: #fff;">
      <mat-tab label="Customer" > 
          <div style="padding: 20px;">
            <div>
              <h3 style="font-weight: bold;">Total Transaction</h3>
              <mat-grid-list cols="3" rowHeight="120px">
                <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
                  <mat-card class="dashboard-card">
                    <mat-card-header>
                      <mat-card-title>
                        <div></div>
                      </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                      <div>Open Receivables</div>
                    </mat-card-content>
                  </mat-card>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
            <div>
              <div style="display: flex;">
                <div>
                  <h2>Customer List</h2>                  
                </div>
                <div style="    padding: 0px 0px 0px 480px;">
                  <button mat-stroked-button>Import</button>
                  <button mat-stroked-button>Eksport</button>
                </div>
                <div>
                  <input style="height: 30px;
                  width: 220px;
                  margin-left: 20px;
                  border-radius: 5px;" type="text" placeholder="Search">
                </div>
              </div>
            </div>
            <div>
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> Weight </th>
                  <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> Symbol </th>
                  <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </div>
      </mat-tab>

      <mat-tab label="Vendor" > 
          <div style="padding: 20px;">
          <div>
            <h3 style="font-weight: bold;">Total Transaction</h3>
            <mat-grid-list cols="3" rowHeight="120px">
              <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
                <mat-card class="dashboard-card">
                  <mat-card-header>
                    <mat-card-title>
                      <div></div>
                    </mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="dashboard-card-content">
                    <div>Open Receivables</div>
                  </mat-card-content>
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
          <div>
            <div style="display: flex;">
              <div>
                <h2>Vendor List</h2>                  
              </div>
              <div style="    padding: 0px 0px 0px 480px;">
                <button mat-stroked-button>Import</button>
                <button mat-stroked-button>Eksport</button>
              </div>
              <div>
                <input style="height: 30px;
                width: 220px;
                margin-left: 20px;
                border-radius: 5px;" type="text" placeholder="Search">
              </div>
            </div>
          </div>
          <div>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          </div>
      </mat-tab>
      <mat-tab label="Employee" >       
      </mat-tab>
      <mat-tab label="Others" >       
      </mat-tab>
      <mat-tab label="All Types" >       
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
