<div class="header-background">
  <div style="display: flex;">
    <div>
      <h4 class="mat-h1" style=" padding: 10px 0px 0px 20px; margin: 0px;">Transactions</h4>
      <h1 class="mat-h1" style="padding: 0px 0px 0px 20px;">Purchases</h1>
    </div>
    <div style="padding: 20px;margin: 0px 0px 0px 770px;">
      <button mat-raised-button class="blu">Create New Purchase</button>
    </div>
  </div>
  <div style="display: flex;">
    <mat-card style="width: 30%;
    height: 150px;margin: 20px; padding: 0px; ">
      <h3 style="background: #f2ca27;padding: 24px 10px;">
        Open Invoices (in IDR)
      </h3>
      <h4 style="padding: 10px;">
        Rp.000
      </h4>
    </mat-card>
    <mat-card style="width: 30%;
    height: 150px;margin: 20px; padding: 0px; ">
      <h3 style="background: #6ec06e;padding: 24px 10px;">
        Overdue Invoices (in IDR)
      </h3>
      <h4 style="padding: 10px;">
        Rp.000
      </h4>
    </mat-card>
    <mat-card style="width: 30%;
    height: 150px;margin: 20px; padding: 0px; ">
      <h3 style="background: #ea6153;padding: 24px 10px;">
        Payments Received Last 30 Days (in IDR)
      </h3>
      <h4 style="padding: 10px;">
        Rp.000
      </h4>
    </mat-card>
  </div>
  <div style="background-color: #fff; margin: 20px;">
    <div style="display: flex;">
      <div style="padding: 20px;">
        <h2>Purchase Transactions</h2>
      </div>
      <div style="padding: 20px;margin:0px 0px 0px 580px;">        
        <button mat-stroked-button>Import</button>
      </div>
      <div>
        <input  id="Search" name="Search" placeholder="Search" style="padding: 10px;width: 100px;height: 10px;
        margin: 20px 10px;border: 1px solid currentColor;border-radius: 5px;" ><br><br>
      </div>
    </div>
    <mat-tab-group style="margin: 20px;background-color: #fff;">
      <mat-tab label="Purchase Invoice" > 
          <div style="padding: 20px;">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
      </mat-tab>
      <mat-tab label="Join Invoice">
        <div style="padding: 20px;">
          <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef> Weight </th>
              <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> Symbol </th>
              <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Purchase Delivery"> Purchases </mat-tab>
      <mat-tab label="Purchase Order"> Products </mat-tab>
      <mat-tab label="Purchase Quote"> Assets </mat-tab>
    </mat-tab-group>
  </div>
</div>
