.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.header-background{
  background-color: #fff;
  height:80px;
}
table {
  width: 100%;
}
.mat-elevation-z8 {
  box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%), 0px 0px 0px 0px rgb(0 0 0 / 0%), 0px 0px 0px 0px rgb(0 0 0 / 0%);
}
tr.mat-header-row {
  height: 56px;
  background: #E0F7FF;
  border-top: 2px solid #B3D7E5;
}
.blu{
  background: #216a88 !important;
    border: 1px solid #216a88 !important;
    box-shadow: 0px 3px 0px #174a5f !important;
    color: #fff;
}
